
<table border="1px" width="100%" height="100%">
    <thead>
        <th >Todo</th>
        <th >Tomorrow</th>
    </thead>
    <tr>
        <div>
            <td><input type="text" name="task" placeholder="Enter task" value={{task}} (input)="task=$event.target.value">&nbsp;
                <button id="add" (click)="addTask()">+</button></td>
                <ol>
                    <li *ngFor ="let i of todo">
                       <div>{{i}}&nbsp;&nbsp;
                        <button id="remove" (click)="removeTask(i)">remove</button>&nbsp;
                        <button id="move" (click)="moveTask(i)">move</button>
                        </div>
                    </li>
                </ol>
        </div>
        <td>
            <ol>
                <li *ngFor ="let i of tomor">
                    <div>{{i}}</div>
                </li>
            </ol>
        </td>
    </tr>
</table>
 
